body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-image: url("meth.jpg");
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background: rgb(239, 239, 239);
  border-radius: 20px;
  border-color: black;
  border-style: solid;
  border-width: 8px;
  padding: 30px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  width: 320px;
  text-align: center;
}

h1 {
  margin-bottom: 20px;
}

form {
  margin-bottom: 20px;
}

input[type="number"] {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

button {
  padding: 8px 16px;
  background-color: #0078d7;
  border: none;
  color: white;
  border-radius: 6px;
  cursor: pointer;
}

button:hover {
  background-color: #005fa3;
}

#results p {
  text-align: left;
  margin: 5px 0;
}
